@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.sub-menu {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.menu > li:hover .sub-menu {
  display: block;
}
