/* reset css */

* {
  /* universal selector */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* cach 3: External */
p {
  font-size: 20px;
  font-weight: 900;
  background-color: green;
}

h1 {
  background-color: brown;
  color: green;
}
