@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0088ff;
}

html {
  font-family: "Inter", sans-serif;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin: 100px auto 24px;
}

form {
  width: 328px;
  padding: 24px;
  border: 1px solid #dcdcdc;
  margin: 0 auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  /* prefix */

  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.1);

  .form-group {
    margin-bottom: 24px;
  }

  label,
  input,
  button {
    width: 100%;
    display: block;
  }

  label {
    margin-bottom: 8px;
  }

  input {
    padding: 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #efefef;
    border: 1px solid #cccc;
  }

  button {
    padding: 8px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: var(--primary-color);
    font-weight: 700;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;

    &:hover {
      background-color: #006fcc;
    }
  }

  .label-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
