@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  transition: all ease-in-out 0.3;
  -webkit-transition: all ease-in-out 0.3;
  -moz-transition: all ease-in-out 0.3;
  -ms-transition: all ease-in-out 0.3;
  -o-transition: all ease-in-out 0.3;
}

body {
  background-image: url(./background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 44px;
  padding: 46px 0;

  .logo {
    font-size: 36px;
  }

  ul {
    display: flex;
    gap: 28px;
    justify-content: center;
    align-items: center;
    a {
      padding: 10px;
      font-size: 16px;
    }
  }
  .user-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    p {
      margin-bottom: 0;
    }
  }
}

.logout {
  background-color: transparent;
  color: #fff;
  font-weight: 800;
  border: none;
}

.wrap {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 46px;
  .sidebar {
    width: 330px;
    height: 100%;
    padding: 58px 26px;
    background-color: #000;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.4);

    li {
      margin-bottom: 24px;
    }
    a {
      display: inline-block;
      padding: 20px 10px;
      cursor: pointer;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      color: #fff;
      font-weight: 900;
      transition: all ease-in-out 0.3s;
      -webkit-transition: all ease-in-out 0.3s;
      -moz-transition: all ease-in-out 0.3s;
      -ms-transition: all ease-in-out 0.3s;
      -o-transition: all ease-in-out 0.3s;
    }

    a:hover {
      background-color: #a717fe;
    }
  }

  .content {
    flex: 1 1 0;
  }
}

.title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    padding: 10px;
    border: 1px solid #a717fe;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }
  a:hover {
    background-color: #a717fe;
    color: #fff;
  }
}

.cates {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  margin-bottom: 44px;
  a {
    display: inline-block;
    padding: 20px 10px;
    color: #dff7f7;
    text-transform: capitalize;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #000;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.4);
  }
}

.content-left {
  margin-top: 24px;
  a {
    background-color: #000;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    color: #fff !important;
    font-weight: 800;
    padding: 36px;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.4);
  }
}

.content-left-wrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 48px;
  gap: 24px;
  a {
    display: inline-block;
    height: 100%;
    background-color: #000;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 800;
    padding: 36px;
    font-size: 36px;
    text-align: center;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.4);
  }
}

.content-right {
  background-color: #000;
  font-size: 14px;
  font-weight: 400;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  color: #fff !important;
  padding: 20px 24px;
  box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.4);
}

.chat-pop {
  position: fixed;
  bottom: 53px;
  right: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a717fe;
  font-weight: 800;
  p {
    margin-bottom: 0;
  }
}
